    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>About us</h3>
                        <p style="text-align: justify;">This site allow add, update and delete info about employees( with ROLE_ADMIN) and only watch the info about employees( with ROLE_USER). Each person can send information about yourself and the admin will decide whether to publish it on the site or not</p>
                    </div>
                    <div class="col item social"><a><i class="icon ion-social-facebook"></i></a><a><i class="icon ion-social-twitter"></i></a><a><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Kravchenko Nikita Vladimirovich © 2021</p>
            </div>
        </footer>
    </div>
 
